*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Variable Styles */
:root{
    --primary-color:#FF42A5;
}

/* Share Color */
/* ---------------- */
.primary-color{
    color: var(--primary-color);
}

.section-title{
    font-size: 3rem;
    font-weight: 600;
}

.section-description{
    font-size: 1rem;
    font-weight: 400;
    color: #534C64;
}

.primary-btn{
    margin-top: 25px;
    padding: 20px 40px;
    border-radius: 48px;
    background:#FF42A5;    
    border: 0;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 20px;
}

.colorful-section-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Header section styles */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 30px 0px;
}

.nav-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.nav-title{
    font-size: 2.5rem;
    font-weight: 700;
}

nav  ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 20px;
}

nav li{
    list-style-type: none;
    font-size: 1rem;
    font-weight: 500;
}

nav a{
    text-decoration: none;
}

.nav-items{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 15px 20px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}


/* Banner section styles */
/* ---------------------- */
.banner-container{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.banner-title{
    font-size: 3rem;
}

.banner-main-title{
    font-size: 6rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.banner-description-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.banner-icons{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.banner-description{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1rem;
    font-weight: 500;
}

.go-rogue-btn{
    background: #4EC5F7;
}


/*
    WE ARE GAMMER SECTION STYLES
*/
.gammer-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: right;
}

.gammer-purpose{
    margin-top: 25px;
}


/*
    Online Games section styles
*/
.online-games-content{
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

.online-games-card-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

/*
    Instantly Section styles
*/
.instantly-container{
    margin-top: 100px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}

.instanly-img-container{
    margin-top: 50px;
}

.instantly-small-img{
    position: relative;
    bottom: 250px;
    right: 140px;
}


/*
    Anywhere styles section
*/
.anywhere-container{
    display: flex;
    margin-bottom: 10px;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.anywhere-img-container{
    margin-top: 50px;
}


.anywhere-small-img{
    position: relative;
    bottom: 250px;
    left: 550px;
}


/*
    Careers Section Styles
*/
.career-container{
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.career-description{
    color: #fff;
}

.career-role-and-location{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.career-role-title{
    font-size: 1rem;
    font-weight: 500;
}

.career-btn{
    color: #F948B2;
    background: #FFF;
}

.career-location{
    text-align: right;
}


/* 
    Game Category Section
*/
.game-category-container{
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}

.game-category{
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    gap: 20px; 
}

/* 
    Footer Section Styles
*/
footer{
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    background: #0B0223;
    color: #fff;
}

.footer-category-container{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 40px;
}

.footer-icons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.terms-condition{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;  
    color: rgba(255, 255, 255, 0.60);
    margin-bottom: 30px;
}

.copy-write{
    color: rgba(255, 255, 255, 0.60);
}


/*
-------------------------------------------
    Responsive Styles for Mobile Device
-------------------------------------------
*/
@media screen and (max-width: 576px) {
    /* Share Styles */
    .section-title{
    font-size: 2rem;
    font-weight: 600;
}
    
    nav{
        flex-direction: column;

    }

    nav ul{
        flex-direction: column;
    }

    .nav-icons{
        gap: 10px;
    }

    .nav-title{
        font-size: 2rem;
    }

    .nav-items{
        gap: 10px;
        padding: 10px 12px;
    }

    .banner-container{
        flex-direction: column-reverse;
        padding-left: 20px;
        padding-right: 20px;
        align-items: center;
    }

    .banner-content{
        margin-top: 50px;
    }

    .banner-title{
        font-size: 1.5rem;
    }

    .banner-main-title{
        font-size: 3rem;
    }
    .banner-img-container img{
        width: 100%;
    }

    .banner-btn-container{
        display: flex;
        justify-content: center;
    }

    .primary-btn{
        padding: 10px 15px;
        border-radius: 10px;
        font-weight: 500;
        margin-right: 15px;
    }

    .gammer-container{
        flex-direction: column;
        text-align: center;
    }

    .gammer-container img{
        width: 100%;
    }

    
    .online-games-card-container{
        flex-direction: column;
        gap: 40px;
    }

    .online-games-card-container img{
        width: 80%;
    }
    
    .instantly-container{
        flex-direction: column;
        text-align: center;
    }

    .instanly-img-container img{
        width: 70%;
    }

    .instantly-small-img{
        position: relative;
        width: 40%;
        bottom: 70px;
        right: 5px;
    }

      .anywhere-container{
        flex-direction: column;
        text-align: center;
    }
    
    .anywhere-img-container img{
        width: 70%;
    }
    
    .anywhere-small-img{
        position: relative;
        width: 40%;
        bottom: 70px;
        left: 5px;
    }

    .career-container{
        flex-direction: column;
    }

    .career-content{
        padding: 20px;
    }

    .career-img img{
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }

    .game-category-container{
        padding: 30px;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .game-category{
        font-size: .6rem;
        font-weight: 500;
        gap: 10px;
    }

    footer{
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer-category-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }

    .footer-icons-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
    }
    .footer-icons-container i{
        margin-top: 20px;
    }

    .terms-condition{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
    .terms-condition p{
        margin-top: 20px;
    }
}




/*
-------------------------------------
    Responsive for Medium Device
--------------------------------------
*/

@media screen and (min-width:576px) and (max-width: 992px) {
    nav{
        flex-direction: column;

    }

    nav ul{
        flex-direction: column;
    }

    .nav-icons{
        gap: 15px;
    }

    .nav-items{
        padding: 10px 12px;
    }

    .banner-container{
        flex-direction: column-reverse;
        padding-left: 50px;
        padding-right: 50px;
        align-items: center;
    }

    .banner-content{
        margin-top: 50px;
    }

    .banner-img-container img{
        width: 100%;
    }

    .banner-btn-container{
        display: flex;
        justify-content: center;
    }

    .primary-btn{
        padding: 15px 20px;
        border-radius: 20px;
        font-weight: 600;
        margin-right: 40px;
    }

    
    .gammer-container{
        flex-direction: column;
        text-align: center;
    }

    .gammer-container img{
        width: 100%;
    }

        
    .online-games-card-container{
        flex-direction: column;
        gap: 40px;
    }

    .instantly-container{
        flex-direction: column;
        text-align: center;
    }

    .instanly-img-container img{
        width: 70%;
    }
    
    .instantly-small-img{
        position: relative;
        width: 30%;
        bottom: 130px;
        right: 10px;
    }
    
    .anywhere-container{
        flex-direction: column;
        text-align: center;
    }
    
    .anywhere-img-container img{
        width: 70%;
    }
    
    .anywhere-small-img{
        position: relative;
        width: 30%;
        bottom: 130px;
        left: 10px;
    }

    .career-container{
        flex-direction: column;
    }

    .career-content{
        padding: 20px;
    }

    .career-img img{
        width: 100%;
        text-align: center;
    }

    .game-category-container{
        padding: 70px;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    
    .game-category{
        gap: 15px;
    }

    footer{
        padding-left: 50px;
        padding-right: 50px;
    }

    .footer-category-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .copy-write{
        margin-top: 50px;
    }
}